@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.fondo{
  
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 1350px;
  z-index: -1;
  background-color: black;
}

.container{
  z-index: 1;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-inline: 100px;
  font-family: 'Noto Sans', sans-serif;
}

.name{
 width: 700px;
 font-size: 30px;
 border-radius: 20px;
 border: solid #ffd60a 5px;
}

.imagen{
  width: 700px;
  height: 500px;
}

.diets{
  font-size: 25px;
}

.parrafos{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  text-indent: 15px;
}