.blur {
  background-image: url("https://png.pngtree.com/background/20230613/original/pngtree-anime-asian-food-wallpaper-anime-dining-food-wallpaper-illustration-picture-image_3373899.jpg");
  filter: blur(5px);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container{
  position: absolute;
  z-index: 1;
  /* background-color: rgb(32, 30, 30);
  background-size: cover; */
  
}
.filters{
  flex-direction: column;
  position: fixed;
  margin-top: 250px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 300px;

  border: solid yellow 1px;
  background-color: rgb(8, 6, 22);
}