.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ccc;
}

.activePage {
  background-color: #333;
  color: #fff;
}
