.pagination { 
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 350px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
  border: none;
  background-color: #003566;
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-inline: 5px;
}

.button:hover {
  background-color: #ffc300;
}

.activePage {
  background-color: #ffc300;
  color: #003566;
}
